{% extends 'base.html' %}
{% block title %}软件信息{% endblock %}

{% block body %}
<div class="navbar-wrapper" id="daohang">
  <div class="container" id="container">
    <form id="OSMNRForm" name="OSMNRForm" method="post" enctype="multipart/form-data">
        <h2 align="center">软件信息查询<small></small></h2>
        <div class="container-fluid">
        <div class="row-fluid">
        <div class="span12">
        <table class="table table-hover"><tbody>
        <tr>
            <td>
            <select id="value1" name="fieldvalue" class="form-control" onchange="">
            <option value="">选择平台</option>
            {% for pt in platform %}
                <option value="">{{ pt }}</option>
            {% endfor %}
            </select>
            <input type="hidden" id="fieldvalue2" name="fieldvalue2" size="0" value="">
            </td>
            <td>
            <select id="value2" name="fieldvalue" class="form-control" onchange="">
            <option value="">选择机房</option>
            </select>
            <input type="hidden" id="fieldvalue2" name="fieldvalue2" size="0" value="">
            </td>
            <td>
            <select id="value3" name="fieldvalue" class="form-control" onchange="">
            <option value="">选择集群</option>
            </select>
            <input type="hidden" id="fieldvalue2" name="fieldvalue2" size="0" value="">
            </td>
        </tr>
        <tr>
            <td>
            <select id="value4" name="fieldvalue" class="form-control" onchange="">
            <option value="">选择操作系统</option>
             {% for os in os_ver %}
                <option value="">{{ os }}</option>
            {% endfor %}
            </select>
            </td>
            <td>
            <input id="value5" name="fieldvalue" type="text" class="form-control" placeholder="查询 主机" value="" onkeypress="EnterPress(event)">
            <input type="hidden" id="fieldvalue2" name="fieldvalue2" size="0" value="">
            </td>
            <td>
            <button class="btn btn-primary" type="button" onclick="query()" id="QUERY">查询</button>
            <button type="button" class="btn btn-default" onclick="">导出</button>
            <button type="button" class="btn btn-default" onclick="">Excel</button>
            </td>
        </tr>
        </tbody></table>
        </div></div></div>
        <div class="container-fluid">
            <div class="row-fluid">
            <div class="span12">
            <table id="datalisttable" class="table table-hover">
            <thead>
              <tr>
              {% for col in show_cols %}
                <th>{{ col[0] }}</th>
              {% endfor %}
              <th>操作</th>
              </tr>
            </thead>
            <tbody id="tablevalue">
            </tbody></table>
        </div>
        </div>
        </div>
    </form>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="addForm">
            {% for col in show_cols %}
            <div class="form-group">
                <label for="recipient-name" class="col-sm-2 control-label">{{ col[0] }}</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="{{ col[1] }}" name="{{ col[1] }}">
                </div>
            </div>
            {% endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="SAVE" data-dismiss="modal">保存</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        删除设备所有信息
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
        <button type="button" class="btn btn-primary" id="DEL" data-dismiss="modal">是</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $("#value1").change(function() {
        var checkText=$("#value1").find("option:selected").text();
        $.ajax({   //2、发送给后端
            url: "{{ url_for('get_cluster') }}",
            type: 'POST',
            data: {"data": checkText},
            success:function(data) {
                $("#value2").empty();
                var content="<option value=''>选择机房</option>";
                $("#value2").append(content);
                $.each(data["engine_room"], function(idx,obj){
	                var temp="<option value=''>"+obj+"</option>";
	                $("#value2").append(temp)
                });
                $("#value3").empty();
                var content2="<option value=''>选择网元</option>";
                $("#value3").append(content2);
                $.each(data["cluster"], function(idx,obj){
	                var temp="<option value=''>"+obj+"</option>";
	                $("#value3").append(temp)
                });
            }
        })
    });

    function query() {
        var pt=$("#value1").find("option:selected").text();
        var jf=$("#value2").find("option:selected").text();
        var jq=$("#value3").find("option:selected").text();
        var os_ver=$("#value4").find("option:selected").text();
        var zj = document.getElementById("value5").value;
        $.ajax({   //2、发送给后端
            url: "{{ url_for('get_detail') }}",
            type: 'POST',
            data: { "pt": pt,
                    "jf": jf,
                    "jq": jq,
                    "os_ver": os_ver,
                    "zj": zj
                },
            success:function(data) {
                if(data["flag"]==="success"){
                    $("#tablevalue").empty();
                    $.each(data["hosts"], function(idx,obj){
	                var temp="<tr><!--td><input type=\"checkbox\" name=\"lineIndex\" value=\"0\"></td-->"+
                        "<td>"+obj.platform+"</td>"+
                        "<td>"+obj.cluster+"</td>"+
                        "<td>"+obj.hostname+"</td>"+
                        "<td>"+obj.account+"</td>"+
                        "<td>"+obj.version+"</td>"+
                        "<td>"+obj.software_version+"</td>"+
                        "<td>"+obj.os_version+"</td>"+
                        "<td>"+obj.local_ip+"</td>"+
                        "<td>"+obj.nat_ip+"</td>"+
                        "<td>"+obj.status+"</td>"+
                        "<td><button type=\"button\" class=\"btn btn-primary btn-xs\" data-toggle=\"modal\" data-target=\"#myModal\" data-whatever=\""+obj.id+"\">修改</button>"+
                            "<button type=\"button\" class=\"btn btn-danger btn-xs\" data-toggle=\"modal\" data-target=\"#myDelModal\" data-whatever=\""+obj.id+"\">删除</button>"+
                        "</td>" +
                        "</tr>";
	                $("#tablevalue").append(temp)
                     });
                 }
                else alert("查询失败")
            }
        });
    }


    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id_no = button.data('whatever');
        var modal = $(this);
        modal.find('.modal-title').text(id_no);
        $.ajax({   //2、发送给后端
            url: "{{ url_for('get_detail_id') }}",
            type: 'POST',
            data: {"id": id_no},
            success:function(data) {
                if(data["flag"]==="success"){
                    var obj = data["hosts"];
                    modal.find('.modal-body #platform').val(obj.platform);
                    modal.find('.modal-body #cluster').val(obj.cluster);
                    modal.find('.modal-body #hostname').val(obj.hostname);
                    modal.find('.modal-body #account').val(obj.account);
                    modal.find('.modal-body #version').val(obj.version);
                    modal.find('.modal-body #software_version').val(obj.software_version);
                    modal.find('.modal-body #os_version').val(obj.os_version);
                    modal.find('.modal-body #local_ip').val(obj.local_ip);
                    modal.find('.modal-body #nat_ip').val(obj.nat_ip);
                    modal.find('.modal-body #status').val(obj.status);
                    }
                else alert("查询失败")

            }
        });

    });

    $('#myDelModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id_no = button.data('whatever');
        var modal = $(this);
        modal.find('#DEL').attr("value",id_no);
    });

    $("#SAVE").click(function () {
        var device_id = $(".modal-title").text();
        var formSerial = {};
        formSerial["id"] = device_id;
		 $($("#addForm").serializeArray()).each(function(){
		    formSerial[this.name] = this.value;
		 });
        $.ajax({
            url: "{{ url_for('modify_by_id') }}",
            type: "post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formSerial),
            dataType: "json",
            success:function(data) {
                if(data["flag"]==="success"){
                    alert("保存成功");
                    query()
                }
                else alert("保存失败");
            }
        });


    });

    $("#DEL").click(function () {
        var device_id = this.value;
        $.ajax({
            url: "{{ url_for('delete_by_id') }}",
            type: "post",
            data: {"id":device_id},
            success:function(data) {
                if(data["flag"]==="success"){
                    alert("删除成功");
                    query()
                }
                else alert("删除失败");
            }
        });


    });

</script>
{% endblock %}